<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>KaM League</title>
    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js">
    </script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js">
    </script>
    <script src="https://kit.fontawesome.com/69b634ccb1.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    
  </head>
  <body>
    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
          <div class="navbar-brand">
            <%= link to: Routes.page_path(@conn, :index), class: "navbar-item" do %>
              <img src="<%= Routes.static_path(@conn, "/images/kamleague_logo_gold.svg") %>">
            <% end %>

            <a role="button" id="navbar-burger" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
              <%= link "Home", to: Routes.page_path(@conn, :index), class: "navbar-item" %>

              <%= link to: Routes.post_path(@conn, :index), class: "navbar-item" do %>
                <p>News</p>
              <% end %>

             <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  Information
                </a>

                <div class="navbar-dropdown">
                  <%= link "Rules", to: Routes.page_path(@conn, :rules), class: "navbar-item" %>
                  <%= link "Elo", to: Routes.page_path(@conn, :elo), class: "navbar-item" %>
                  <%= link "FAQ", to: Routes.page_path(@conn, :faq), class: "navbar-item" %>
                  <%= link "Downloads", to: Routes.page_path(@conn, :downloads), class: "navbar-item" %>
                </div>
              </div>

              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  Statistics
                </a>
                <div class="navbar-dropdown">
                  <%= link "Recent games", to: Routes.statistics_path(@conn, :games), class: "navbar-item" %>

                  <a class="navbar-item">
                    Map statistics
                  </a>
                  <%= link "Old rankings", to: Routes.page_path(@conn, :oldrankings), class: "navbar-item" %>
                </div>
              </div>

              <%= if @current_user && @current_user.role == "admin" do %>
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    Management
                  </a>

                  <div class="navbar-dropdown">
                    <%= link "Games", to: Routes.admin_game_path(@conn, :index), class: "navbar-item" %>
                    <%= link "Maps", to: Routes.admin_map_path(@conn, :index), class: "navbar-item" %>
                    <%= link "Users", to: Routes.admin_user_path(@conn, :index), class: "navbar-item" %>
                    <%= link "Teams", to: Routes.admin_team_path(@conn, :index), class: "navbar-item" %>
                    <%= link "Posts", to: Routes.admin_post_path(@conn, :index), class: "navbar-item" %>

                  </div>
                </div>
              <% end %>
            </div>

            <div class="navbar-end">
              <%= if @current_user do %>
                <%= if length(@current_user.player.teams) < 2 do %>
                <div class="navbar-item">
                  <%= link "Create team", to: Routes.team_path(@conn, :new), class: "button is-primary is-small" %>
                </div>
                <% end %>

                <div class="navbar-item">
                  <%= link "Add game", to: "#", class: "button is-primary is-small", id: "map-modal" %>
                </div>

                <div class="modal">
                  <div class="modal-background"></div>
                  <div class="modal-card">
                    <div class="box">
                      <section class="modal-card-body has-text-centered">
                        <h1 class="title is-3">Select map</h1>
                        <div class="columns is-multiline is-variable is-2">
                          <%= for map <- @maps do %>
                            <div class="column is-one-quarter">
                              <%= link to: Routes.map_game_path(@conn, :new, map) do %>
                                <div class="map-background" style="background-image: url(/images/maps/no_locs/<%= map.slug %>.jpg)">
                                </div>
                              <% end  %>
                              <label class="label"><%= map.name %></label>
                            </div>
                          <% end %>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>

                <div class="navbar-item">
                  <div id="info-dropdown" class="dropdown">
                    <div class="dropdown-trigger">
                      <%= if length(@unapproved_team_games) > 0 or length(@unapproved_games) > 0 do %>
                        <span class="danger-icon"></span>
                      <% else %>
                        <span class="info-icon"></span>
                      <% end %>
                    </div>
                    <div class="dropdown-menu info" role="menu">
                      <div class="dropdown-content">
                        <%= if not @current_user.player.active do %>
                        <div class="dropdown-item">
                          <p>You are currently marked as <strong>inactive</strong> and will not be displayed on the rankings.</p>
                          <%= form_for @conn, Routes.player_path(@conn, :update, @current_user.player), [method: :put], fn f -> %>
                            <%= hidden_input f, :active, value: true %>
                            <%= submit "Mark as active", class: "button is-primary is-small" %>
                          <% end %>
                        </div>
                        <hr class="dropdown-divider">
                        <% end %>
                        <div class="dropdown-item">
                          <%= if length(@unapproved_team_games) > 0 or length(@unapproved_games) > 0 do %>
                            <%= for game <- @unapproved_games do %>
                              <hr class="dropdown-divider">
                              <p class="label"><%= game.map.name %> (<%= Timex.format!(game.played_at, "%d.%m", :strftime) %>)</p>
                              <%= for {player, index} <- Enum.with_index(game.players) do %>
                                <span>
                                  <%= player.player_info.nickname %>
                                  (<%= player.location %>)
                                </span>
                                <%= unless index + 1 == length(game.players)  do %>
                                  <span>VS</span>
                                <% end %>
                              <% end %>
                              <p class="label">Winner: 
                                <%= for player <- game.players do %>
                                  <%= if player.win do %> 
                                    <%= player.player_info.nickname %>
                                  <% end %>
                                <% end %>
                              </p>
                              <%= form_for @conn, Routes.game_path(@conn, :update, game.id), [method: :put], fn f -> %>
                                <%= hidden_input f, :approved, value: true %>
                                <%= hidden_input f, :type, value: "1v1" %>

                                <%= submit "Approve", class: "button is-primary is-small" %>
                              <% end %>
                              <%= form_for @conn, Routes.game_path(@conn, :delete, game), [method: :delete], fn f -> %>
                                <%= hidden_input f, :deleted, value: true %>
                                <%= hidden_input f, :type, value: "1v1" %>

                                <%= submit "Delete", class: "button is-danger is-small" %>
                              <% end %>
                            <% end %>
                            <%= for game <- @unapproved_team_games do %>
                              <hr class="dropdown-divider">
                              <div class="has-text-centered">
                                <p class="label"><%= game.map.name %> (<%= Timex.format!(game.played_at, "%d.%m", :strftime) %>)</p>
                              </div>
                              <div class="columns">
                              <%= for {team, index} <- Enum.with_index(game.teams) do %>
                                <div class="column has-text-centered is-two-fifths">
                                  <p class="label">
                                    <%= team.team.name %>
                                  </p>
                                  <%= for player <- team.players do %>
                                    <p><%= player.player.nickname %> (<%= player.location %>)</p>
                                  <% end %>
                                </div>
                                <%= unless index + 1 == length(game.teams)  do %>
                                  <div class="column has-text-centered">
                                    <span>vs</span>
                                  </div>
                                <% end %>
                              <% end %>
                              </div>
                              <p class="label has-text-centered">Winner: 
                                <%= for team <- game.teams do %>
                                  <%= if team.win do %> 
                                    <%= team.team.name %>
                                  <% end %>
                                <% end %>
                              </p>
                              <div class="level">
                                <div class="level-item">
                                  <%= form_for @conn, Routes.game_path(@conn, :update, game.id), [method: :put], fn f -> %>
                                    <%= hidden_input f, :approved, value: true %>
                                    <%= hidden_input f, :type, value: "2v2" %>

                                    <%= submit "Approve", class: "button is-primary is-small" %>
                                  <% end %>
                                 </div>
                                 <div class="level-item">
                                  <%= form_for @conn, Routes.game_path(@conn, :delete, game), [method: :delete], fn f -> %>
                                    <%= hidden_input f, :deleted, value: true %>
                                    <%= hidden_input f, :type, value: "2v2" %>
                                    <%= submit "Delete", class: "button is-danger is-small" %>
                                  <% end %>
                                </div>
                              </div>
                            <% end %>
                          <% else %>
                            <p>You have no unapproved games.</p>
                          <% end %>
                          <%= if length(@unapproved_teams) > 0 do %>
                            <%= for team <- @unapproved_teams do %>
                              <hr class="dropdown-divider">
                              <p class="label">Invitation</p>
                              <p>You have recieved an invitation from <strong><%= team.owner.nickname %></strong> join <strong><%= team.name %></strong></p>
                              <br>
                              <div class="level">
                                <div class="level-item">
                                  <%= form_for @conn, Routes.team_path(@conn, :update, team.id), [method: :put], fn f -> %>
                                    <%= submit "Join", class: "button is-primary is-small" %>
                                  <% end %>
                                 </div>
                                 <div class="level-item">
                                  <%= form_for @conn, Routes.team_path(@conn, :delete, team), [method: :delete], fn f -> %>
                                    <%= submit "Deny", class: "button is-danger is-small" %>
                                  <% end %>
                                </div>
                              </div>
                            <% end %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link nickname">
                    <%= @current_user.player.nickname %>
                  </a>
                  <div class="navbar-dropdown">
                    <%= link "Profile", to: Routes.player_path(@conn, :show, @current_user.player.slug), class: "navbar-item" %>
                    <%= for player_team <- @current_user.player.teams do %>
                      <a class="navbar-item">
                        <%= link player_team.team.name, to: Routes.team_path(@conn, :show, player_team.team.slug), class: "navbar-item" %>
                      </a>
                    <% end %>
                    <hr class="navbar-divider">
                    <%= link "Logout", to: Routes.logout_path(@conn, :delete), method: :delete, class: "navbar-item" %>
                  </div>
                </div>
              <% else %>
                  <%= link "Register", to: Routes.signup_path(@conn, :new), class: "navbar-item" %>
                  <%= link "Sign in", to: Routes.login_path(@conn, :new), class: "navbar-item" %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          &copy; 2018-2020 Kamleague. All Rights Reserved.
        </p>
      </div>
    </footer>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
