<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Kamleague · Phoenix Framework</title>
    <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/69b634ccb1.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    
  </head>
  <body>
    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">
          <div class="navbar-brand">
            <a class="navbar-item" href="#">
              Logo
            </a>

            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar">
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
              <span aria-hidden="true"></span>
            </a>
          </div>

          <div id="navbar" class="navbar-menu">
            <div class="navbar-start">
              <%= link "Home", to: Routes.page_path(@conn, :index), class: "navbar-item" %>

             <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  Information
                </a>

                <div class="navbar-dropdown">
                  <a class="navbar-item">
                    How to play
                  </a>
                  <%= link "Rules", to: Routes.page_path(@conn, :rules), class: "navbar-item" %>
                  <a class="navbar-item">
                    FAQ
                  </a>
                  <a class="navbar-item">
                    Updates
                  </a>
                </div>
              </div>

              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  Statistics
                </a>
                <div class="navbar-dropdown">
                  <%= link "Recent games", to: Routes.live_path(@conn, KamleagueWeb.StatisticsLive.Games), class: "navbar-item" %>

                  <a class="navbar-item">
                    Map statistics
                  </a>
                </div>
              </div>

              <a class="navbar-item">
                Downloads
              </a>

              <%= if @current_user && @current_user.role == "admin" do %>
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    Management
                  </a>

                  <div class="navbar-dropdown">
                    <%= link "Maps", to: Routes.map_path(@conn, :new), class: "navbar-item" %>
                    <a class="navbar-item">
                      Users
                    </a>
                      <%= link "Posts", to: Routes.post_path(@conn, :index), class: "navbar-item" %>
                  </div>
                </div>
              <% end %>
            </div>

            <div class="navbar-end">
              <%= if @current_user do %>
                <div class="navbar-item">
                  <%= link "Add game", to: "#", class: "button is-primary is-small", id: "map-modal" %>
                </div>

                <div class="modal">
                  <div class="modal-background"></div>
                  <div class="modal-card">
                    <div class="box">
                      <section class="modal-card-body has-text-centered">
                        <h1 class="title is-3">Select map</h1>
                        <div class="columns is-multiline is-variable is-2">
                          <%= for map <- @maps do %>
                            <div class="column is-one-quarter">
                              <%= link to: Routes.map_game_path(@conn, :new, map) do %>
                                <img src="https://via.placeholder.com/150" />
                              <% end  %>
                              <label class="label"><%= map.name %></label>
                            </div>
                          <% end %>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>

                <div class="navbar-item">
                  <div id="info-dropdown" class="dropdown">
                    <div class="dropdown-trigger">
                      <span class="info-icon"></span>
                    </div>
                    <div class="dropdown-menu" role="menu">
                      <div class="dropdown-content">
                        <%= if not @current_user.player.active do %>
                        <div class="dropdown-item">
                          <p>You are currently marked as <strong>inactive</strong> and will not be displayed on the rankings.</p>
                          <%= form_for @conn, Routes.player_path(@conn, :update, @current_user.player), [method: :put], fn f -> %>
                              <%= hidden_input f, :active, value: true %>

                            <%= submit "Mark as active", class: "button is-primary is-small" %>
                          <% end %>
                        </div>
                        <hr class="dropdown-divider">
                        <% end %>
                        <div class="dropdown-item">
                          <p>You have no unapproved games at the moment.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link">
                    <%= @current_user.player.nickname %>
                  </a>
                  <div class="navbar-dropdown">
                    <a class="navbar-item">
                      About
                    </a>
                    <a class="navbar-item">
                      Jobs
                    </a>
                    <a class="navbar-item">
                      Contact
                    </a>
                    <hr class="navbar-divider">
                    <%= link "Logout", to: Routes.logout_path(@conn, :delete), method: :delete, class: "navbar-item" %>
                  </div>
                </div>
              <% else %>
                  <%= link "Register", to: Routes.signup_path(@conn, :new), class: "navbar-item" %>
                  <%= link "Sign in", to: Routes.login_path(@conn, :new), class: "navbar-item" %>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
      </div>
    </footer>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
