<%= form_for @changeset, @action, fn f -> %>
  <div class="field">
    <%= label f, :name, "Tag name", class: "label" %>
    <div class="control">
      <%= text_input f, :name, class: "input" %>
    </div>
    <%= error_tag f, :name %>
  </div>

  <div class="field">
    <%= submit "Add", class: "button is-primary" %>
  </div>
<% end %>
