[Unit]
Description=Service unit for kamleague

[Service]
WorkingDirectory=/opt/app
EnvironmentFile=/opt/app/etc/environment
StandardOutput=journal
StandardError=journal
User=ec2-user
ExecStart=/opt/app/bin/kamleague foreground
KillMode=process
TimeoutStopSec=60
Restart=on-failure
RestartSec=5
RemainAfterExit=no

[Install]
WantedBy=multi-user.target