@charset "utf-8";

@font-face {
  font-family: "Beaufort";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Beaufort-Regular.woff") format("woff");
}
@font-face {
  font-family: "Beaufort";
  font-style: bold;
  font-weight: 700;
  src: url("/fonts/Beaufort-Bold.woff") format("woff");
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

// Set your brand colors
$purple: #8a4d76;
$pink: #fa7c91;
$brown: #757763;
$beige: #f1e6d0;
$white: #fff;
$grey: #ccc;
$beige-light: #eff0eb;
$black: #121212;
$black-light: #262626;

// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$title-family: "Beaufort", sans-serif;
$scheme-main: $black;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: #1f394b;
$link: $beige;
$link-hover: $grey;
$border: $black-light;

// Update some of Bulma's component variables
$body-background-color: $black;

html {
  /* To make use of full height of page*/
  height: 100%;
  margin: 0;
}
body {
  height: 100%;
  margin: 0;
  background: url("/images/background4.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}
main {
  height: 100%;
}

// Navbar styles
$navbar-item-hover-background-color: "transparent";
$navbar-item-color: $link;
$navbar-item-hover-color: $link-hover;
$navbar-item-active-color: $white;
$navbar-divider-background-color: $black-light;
.navbar {
  border-bottom: 2px solid $black-light;

  a {
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Beaufort", "Roboto";
    transition: color 1s cubic-bezier(0.06, 1, 0, 1);
  }

  .nickname {
    text-transform: none;
  }
}

// Dropdown styles
$dropdown-divider-background-color: $black-light;
.dropdown {
  margin-left: 1rem;
  vertical-align: middle !important;
  .info-icon {
    background-image: url("/images/info-sprites.png");
    background-position: 0px -40px;
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;

    &:hover {
      background-position: -40px 0px;
    }
  }
  &.is-active .info-icon {
    background-position: 0px 0px;
  }

  .warning-icon {
    background-image: url("/images/info-sprites.png");
    background-position: 50px -80px;
    width: 30px;
    height: 30px;
    display: block;
    cursor: pointer;

    &:hover {
      background-position: 90px -80px;
    }
  }

  form {
    margin-bottom: 0;
  }
}
.dropdown-divider {
  height: 2px !important;
}

// Win ratio graph
.graph {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 20px;
  vertical-align: middle;

  .fill.left {
    position: absolute;
    left: 0;
    top: 0;
    background: #2b6e9c;
    height: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    z-index: 1;
  }

  .fill.right {
    position: absolute;
    left: 0;
    top: 0;
    background: #f14668;
    height: 100%;
    width: 100%;
    border-radius: 4px;
  }

  .text.left {
    position: absolute;
    top: 3px;
    left: 8px;
    height: 100%;
    line-height: 15px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
  }

  .text.right {
    position: absolute;
    top: 3px;
    right: 8px;
    height: 100%;
    line-height: 15px;
    text-align: right;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
  }
}

// Tabs styles
$tabs-border-bottom-style: "none";
.tab-content {
  padding: 1rem;
  display: none;
}

.tab-content.is-active {
  display: block;
}

// Box styles
$box-padding: 3rem 5rem;
$box-radius: 0;
.box {
  border: 2px solid $black-light;
}

// Table styles
$table-head-cell-color: $beige;
$table-cell-border-width: 2px 0 0;
$table-color: $beige;
$table-row-hover-background-color: $primary;
table form {
  margin-bottom: 0;
}
table th {
  font-family: "Beaufort", "Roboto";
}

table td:not([align]),
table th:not([align]) {
  vertical-align: middle;
}

// Title styles
$title-color: $beige;
.title {
  text-transform: uppercase;
}

// Button styles
.button {
  font-family: "Beaufort", "Roboto";
  font-weight: bold;
}
.button.is-primary,
.button.is-info {
  text-transform: uppercase;
  border: 2px solid #213744 !important;
  box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.3),
    -1px 1px 10px 0px rgba(0, 0, 0, 0.8);
}
.button.is-danger {
  text-transform: uppercase;
  border: 2px solid #4b082d !important;
  box-shadow: inset 0 0 3px 1px rgba(0, 0, 0, 0.3),
    -1px 1px 10px 0px rgba(0, 0, 0, 0.8);
}

$button-static-background-color: $black;
$button-static-color: $beige;

// Form styles
$input-border-color: $black-light;
$control-border-width: 2px;
$label-color: $beige;
.field:not(:last-child) {
  margin-bottom: 2rem !important;
}
form {
  margin-bottom: 1.5rem;
}
label,
.label {
  font-family: "Beaufort", "Roboto";
}
.select select {
  color: $beige !important;
}
.location {
  width: 32px;
  height: 32px;
  border: 2px solid $black-light;
  border-radius: 100%;
}
.button.is-player {
  color: $beige;
  margin-bottom: 1rem;

  &.is-active {
    color: $beige;
    border-color: $beige;
  }

  &.is-active:active {
    color: $beige;
    border-color: $beige;
  }
}

// Radio button styles
input[type="radio"]:checked + label > img {
  border: 3px solid yellow;
}

// Image styles
.map-background {
  width: 97px;
  height: 97px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

// Menu styles
$menu-item-color: $beige;
$menu-item-hover-background-color: "transparent";
$menu-list-link-padding: 0 0 0.5rem 0;
$menu-label-font-size: 1rem;
$menu-label-color: $beige;
.menu-list {
  font-family: "Beaufort", "Roboto";
  font-weight: bold;
  text-transform: uppercase;

  li ul li:last-child a {
    padding-bottom: 0;
  }
  .menu-label:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

// Article styles
article {
  padding: 2rem;
  border-bottom: 2px solid $black-light;
  &:last-child {
    border-bottom: none;
  }
}

// Footer styles
$footer-background-color: $black;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/other.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/tabs.sass";
@import "../node_modules/bulma/sass/components/dropdown.sass";
@import "../node_modules/bulma/sass/components/modal.sass";
@import "../node_modules/bulma/sass/components/menu.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/components/level.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
