<section class="section">
  <div class="box">
        <h1 class="title is-1">Most recent news<h1>
    <%= for post <- @posts do %>
    <article class="post">
      <h3 class="title is-3"><%= post.title %><h3>
      <div class="content">
        <%= {:safe, markdown(post.body)} %>
      </div>
    </article>
    <% end %>
  </div>
</section>