<section class="section">
  <div class="box">
    <div class="content">
      <%= {:safe, markdown(@post.body)} %>
    </div>
    <span><%= link "Edit", to: Routes.post_path(@conn, :edit, @post) %></span>
    <span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
  </div>
</section>
